/* Margin around the element */
.box-1 {
  margin: 10px;
}

/* Margin left only */
.box-2 {
  margin-left: 10px;
}

/* 10px margin on top and bottom, 5px on the sides */
.box-3 {
  margin: 10px 5px;
}

/* 20px margin top, 15px margin right, 10px margin bottom and 5px margin left */
.box-4 {
  margin: 20px 15px 10px 5px;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    sans-serif;
  background: #7db6d4;
  color: #fff;
}

h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #a8c9dc;
  border-radius: 5px;
  background-color: #a8c9dc;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #fff;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #fff;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.units {
  color: #fff;
}

.d-flex weather-temperature {
  color: #fff;
}
